
<% content_for :featured do %>

  <h2><%= headline %></h2>
  <label>Title:</label>
  <input type="text" id="guide-title" value="<%= guide.title %>">
  <label>Description:</label>
  <textarea id="guide-description"><%= guide.description %></textarea>
  
  <label>Guide Goals</label>
  <p>After reading this guide the reader will:</p>
  
  <ul id="guide-goals">
    <% guide.goals.each do |goal| %>
    <li>
      <span class="content"><%= goal.content %></span>
      <span class="delete">delete</span>
    </li>
    <% end %>
    
    <% if guide.goals.empty? %>
    <li>
      <span class="content">Know how awesome NerdCompanion is (click to edit)</span>
      <span class="delete">delete</span>
    </li>
    <% end %>
  </ul>
  
  <input id="add-guide-goal" type="button" value="add goal" />
  
<% end %>

<% content_for :main do %>

  <h3>Guide Text Blocks</h3>
  <p>Drag and Drop Text Elements from the toolbox (bottom) to this area</p>
  
  <ul id="guide-content-list">
    <% guide.blocks.each do |block| %>
      <li class="tool <%= block.type %> ui-draggable in-guide" 
          data-block="<%= block.type %>" 
          data-meta="<%= block.meta %>" style="display: list-item; ">
        
        <textarea><%=raw block.content %></textarea>
      </li>
    <% end %>
  </ul>
  
  <% if user_signed_in? %>
    <% if guide.is_draft %>
    <input type="button" class="save-button" data-isdraft="true" data-url="<%= url %>" data-action="<%= action %>" value="Save as Draft" />
    <% end %>  
  <input type="button" class="save-button" data-isdraft="false" data-url="<%= url %>" data-action="<%= action %>" value="Save & Publish" />
  <% else %>
  <input type="button" class="save-button disabled" value="Save as Draft" />
  <input type="button" class="save-button disabled" value="Save & Publish" />
  <p class="sorry-sign-in">Sorry, you have to sign in with your Twitter account to save guides.</p>
  <% end %>
  
  <ul id="guide-toolbox-list">
    <li class="tool h1" data-block="h1">Heading 1</li>
    <li class="tool h2" data-block="h2">Heading 2</li>
    <li class="tool h3" data-block="h3">Heading 3</li>
    <li class="tool paragraph" data-block="paragraph">Paragraph</li>
    <li class="tool code" data-block="code" data-meta="javascript">Source Code</li>
  </ul>
  
<% end %>



<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag 'guide_editor' %>
<%end%>

<% content_for :dynamic_javascripts do %>
  <%= cdn_jquery_ui_tag %>
  <%= javascript_include_tag 'guide_editor' %>
<%end%>