
<% content_for :featured do %>

  <h2><%= headline %></h2>
  <label>Title:</label>
  <input type="text" id="guide-title" value="<%= guide.title %>">
  <label>Description:</label>
  <textarea id="guide-description"><%= guide.description %></textarea>
  
<% end %>

<% content_for :main do %>

  <h3>Guide Text Blocks</h3>
  <p>Drag and Drop Text Elements from the toolbox (bottom) to this area<p>
  
  <ul id="guide-content-list">
    <% guide.blocks.each do |block| %>
      <li class="tool <%= block.type %> ui-draggable in-guide" style="display: list-item; ">
        <%= block.content %>
      </li>
    <% end %>
  </ul>
  
  <input type="button" id="guide-submit" data-url="<%= url %>" data-action="<%= action %>" value="Save">
  
  <ul id="guide-toolbox-list">
    <li class="tool h1">Heading 1</li>
    <li class="tool h2">Heading 2</li>
    <li class="tool h3">Heading 3</li>
    <li class="tool paragraph">Paragraph</li>
  </ul>
  
<% end %>



<% content_for :dynamic_stylesheets do %>
  <%= stylesheet_link_tag 'guide_editor' %>
<%end%>

<% content_for :dynamic_javascripts do %>
  <%= cdn_jquery_ui_tag %>
  <%= javascript_include_tag 'guide_editor' %>
<%end%>