<ul class="nav">
  <li><%= link_to_unless_current("Home", { :controller => "guides",  :action => "index" }) %></li>
  
  <% if user_signed_in? %>
  
  	<li><%= link_to('Create guide', new_guide_path, :id => 'create-guide') %></li>
  	
  	<li>Logged in as <%= current_user.name %></li>
  	<li><%= link_to('Sign out', signout_path, :id => 'sign-out')  %></a></li>
  
  <% else %>
  	
  	<li><%= link_to('Sign in with Twitter', signin_path, :id => 'sign-in-twitter')  %></a></li>
 
  <% end %>
</ul>