
<% title "#{@guide.title}" %>

<% content_for :featured do %>
  
  <p class="author">This guide was written by <%= link_to @guide.user.name, @guide.user %></p>
  
  <% if current_user_is_guide_owner?(@guide) %>
  <div id="guide-menu">
    <%= link_to "Edit this Guide", edit_guide_path(@guide), :class => "edit" %>
    <%= link_to "Delete this Guide", guide_path(@guide), :class => "delete", :method => :delete %>
  </div>
  <% end %>
  
  <h2 id="guide-title"><%= @guide.title %></h2>
  <p><%= @guide.description %></p>
  
  <p>After reading this guide you will:</p>
  <ul>
    <% @guide.goals.each do |goal| %>
      <li><%= goal.content %></li>
    <% end %>
  </ul>
  
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @guide.title %>" data-count="vertical" data-via="NerdCompanion">Tweet</a>
  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<% end %>

<% content_for :main do %>
      
  <% @guide.blocks.each do |block| %>
    
    <% case block.type
         when "paragraph" %>
         
          <p>
            <%= sanitize block.content, :tags => %w(span div strong italic ul ol li a), 
                                        :attributes => %w(style href) %>
          </p>
      
      <% when "h1" %>
        <h3><%= block.content %></h3>
        
      <% when "h2" %>
        <h4><%= block.content %></h4>
        
      <% when "h3" %>
        <h5><%= block.content %></h5>
        
      <% when "code" %>
        <pre class="code_container" data-meta="<%= block.meta %>">
          <textarea class="hidden"><%=raw block.content %></textarea>
        </pre>
        
    <% end %>
    
  <% end %>
  
  <div id="disqus_thread"></div>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
  
<% end %>

<% content_for :dynamic_javascripts do %>
  <%= javascript_include_tag "guide_viewer" %>
  
  <script type="text/javascript">
    var disqus_shortname = 'nerdcompanion';
    var disqus_identifier = '<%= @guide.id %>';
    
    <% unless Rails.env.production? %>
    var disqus_developer = 1;
    <% end %>
    
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
<%end%>