
<% content_for :featured do %>
    
  <h2 id="guide-title"><%= @guide.title %></h2>
  <p><%= @guide.description %></p>
    
<% end %>

<% content_for :main do %>
      
  <% @guide.blocks.each do |block| %>
    
    <% case block.type
         when "paragraph" %>
         
          <p>
            <%= sanitize block.content, :tags => %w(span strong italic ul ol li), 
                                        :attributes => %w(style) %>
          </p>
      
      <% when "h1" %>
        <h3><%= block.content %></h3>
        
      <% when "h2" %>
        <h4><%= block.content %></h4>
        
      <% when "h3" %>
        <h5><%= block.content %></h5>
        
    <% end %>
    
  <% end %>
      
<% end %>
