<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>NerdCompanion - <%= yield :page_title %></title>
  
  <meta name="description" content="Rails Guides for the rest of us.">
  <meta name="author" content="Dominik Guzei">
  
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <%= stylesheet_link_tag "application" %>
  <%= yield :dynamic_stylesheets %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
	
	<a href="https://github.com/DominikGuzei/nerdcompanion">
	  <img style="z-index: 1000; position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
  </a>
	
	<div id="topNav">
    <div class="wrapper">
      <%= render 'shared/top_navigation' %>
    </div>
  </div>
  
  <div id="header">
		<div class="wrapper clearfix">
      <h1><%= link_to_unless_current("NerdCompanion Home", { :controller => "guides",  :action => "index" }) %></h1>
    	<p class="hide"><a href="#mainCol">Skip navigation</a>.</p>
      <%= render 'shared/main_navigation' %>
    </div>
  </div>
  
  <div id="main" role="main">
    <div id="feature">
      <div class="wrapper">
        <%= yield :featured %>
        </div>
    </div>
    
    <div id="container">
      <div class="wrapper">
        <div id="mainCol">
          <%= yield :main %>
        </div>
      </div>
    </div>
  </div>
      
  <div id="footer">
    <div class="wrapper">
      <%= yield :footer %>
    </div>
  </div>
  
  <%= cdn_jquery_tag %>
  <%= javascript_include_tag "application" %>
  <%= yield :dynamic_javascripts %>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22775241-2']);
    _gaq.push(['_setDomainName', '.nerdcompanion.com']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
</body>
</html>